* {
    padding: 0;
    margin: 0;
}
body {
    background-color:darkgrey
}


img {

    max-width: 150px;
    max-height: 150px;
    float: left;
    margin: 0 15px 5px 15px;
}

h1 {
    background-color: #58287F;
    color: #F5EDCE; 
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 17px;
}

main {
    background-color: #1A0000;
    color: #F5EDCE;
    padding: 20px;
    margin-bottom: 5px;
    clear: both;
    

}

article {

    background-color: #89C4E1;
    color: #1A0000;
    padding: 20px;
}

dt {

    font-weight: bold;
    font-size: 1.15rem;
}

.container {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}